.row.div-style style="max-width: 100%"
  - @products.each do |product|
    .columns.medium-4.small-6.large-3 style="margin-bottom: 46px" class="js-product-group js-product-id-#{product.id}"
      = render partial: 'home/product_fields', locals: {product: product}
