.admin-section-container
  background-color: green
  width: 100%
  height: 100%

.admin-section-header-container
  width: 100%
  height: 60px
  background-color: #F4F6F8
  display: flex
  align-items: center

.admin-section-header
  margin-left: 1rem

.admin-section-side-bar-container
  background-color: red
  height: 100%
  width: 20%
  padding: 1rem

.admin-gif-upload-container
  background-color: yellow
  position: relative
  height: 400px

.admin-submit-button-container
  background-color: purple
  height: 50px
  display: flex

.admin-submit-button-hint
  font-size: 12px
  align-self: center
  padding: 0.5rem

.js-admin-section-scroll-config-container
  background-color: blue
  height: 100%
  width: 80%
  padding: 1rem
  float: right

.js-admin-section-filter-config-container
  background-color: orange
  height: 400px
  float: right
  width: 80%

.js-admin-section-search-config-container
    background-color: maroon
    height: 400px
    float: right
    width: 80%
